{
	"root": true,
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"eqeqeq": ["error", "always"],
		"no-tabs": 0,
		"no-console": "off"
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"sourceType": "module",
		"babelOptions": {
			"configFile": "./.babelrc",
			"plugins": ["@babel/plugin-proposal-class-properties"]
		}
	}
}
